/build/
/build-*/
/.cache/
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
/results/
/result.json
/result.dxf
/result.svg
**/.deepnestcpp-results.lock
/examples/results/
/examples/result.json
/examples/result.dxf
/examples/result.svg
